body {
  background: #ecf0f1;
  font-family: 'Philosopher', sans-serif;
  padding: 0;
  margin: 0;
}

/* .container {
  border: 2px solid black;
  max-width: 1000px;
  margin: 100px auto 0 auto; 
} */

header {
  border-bottom: 1px solid black;
}

main {
  max-width: 50em;
}

h1 {
  text-align: center;
  color: #e74c3c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

#logout {
  position: fixed;
  top: 30px;
  left: 92%;
}

table {
  border: 1px solid black;
}

.errMsg {
  color: red;
}

#successMsg {
  color: green;
}

textarea {
  width: 100%;
}

.borderbottom{
  border-bottom: 0.5px solid black;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* .pagination a.active {
  background-color: dodgerblue;
  color: white;
} */

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

