body {
  background: white;
  font-family: 'Philosopher', sans-serif;

  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(226, 202, 171, 0.993);
}

input[id=title], textarea {
  border: none;
  border-bottom: 1px solid rgba(59, 59, 59, 0.87);
  font-size: 1em;
  color: rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 0;
}

main {
  max-width: 50em;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}


.hidden {
  display: none;
}


.errMsg {
  color: red;
}

#successMsg {
  color: green;
}

textarea {
  width: 100%;
}

.borderbottom{
  border-bottom: 0.5px solid black;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* .pagination a.active {
  background-color: dodgerblue;
  color: white;
} */

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

#hideSearchForm form{
  text-align: end;
}

.likeBtn{
  cursor: pointer;
  
  
  
}

.likeBtn:hover {
  background-color: rgba(17, 17, 235, 0.164);
}