body {
  background: white;
  font-family: 'Philosopher', sans-serif;

  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(226, 202, 171, 0.993);
}

input[id=title], textarea {
  border: none;
  border-bottom: 1px solid rgba(59, 59, 59, 0.87);
  font-size: 1em;
  color: rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  border-radius: 0;
}


h1 {
  font-size: 4em;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}


.hidden {
  display: none;
}


.errMsg {
  color: red;
}

#successMsg {
  color: green;
}

textarea {
  width: 100%;
}

.borderbottom{
  border-bottom: 0.5px solid black;
}

.pagesList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.pagesList li {
  border: 1px solid rgb(187, 181, 181);
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
}

.pagesList li a {
  color: rgb(141, 134, 134);
}
#hideSearchForm form{
  text-align: end;
}

#loginForm input, #registerForm input{
   width: 400px;
   border: none;
   border-bottom: 1px solid black;
}
.likeBtn{
  cursor: pointer;
}

.likeBtn:hover {
  background-color: rgba(17, 17, 235, 0.164);
}

#allUsers{
  border: 1px solid black;
  margin: 40%;
  padding: 2%;
}
